
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<ul>
    <li><a href="/admin/champion">Champions</a></li>
    <li><a href="/admin/Item">Items</a></li>

</ul>
